<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtzeWOl_v8bYxLAmBgxu5hlM14AN1Cl6U</string>
	<key>GCM_SENDER_ID</key>
	<string>727734347697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heavenonthisearth.studioNextLight</string>
	<key>PROJECT_ID</key>
	<string>studio-next-light</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-next-light.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727734347697:ios:98d06cf6a0039b6dc43f90</string>
</dict>
</plist>